body {

	margin:auto
	padding: 60px;
	background-color: #FFFAFA;
	font-family: 'Muli', sans-serif;
	line-height:  1.8em;
	color: #f08080;

	}

	h1{

		color: #191970;
	}

	h2{

		color: #563f7c;
	}

p{
	padding:25px;
	padding-top:100px;
	padding-bottom:155px;
	border:25px;
	border-style:solid;
	border-color:#CDE9E6;
	
	
	float:right;
	margin-right:100px;
	margin-left:;
	margin-top:;
}