<html>
	<head>
	</head>
		body {
			background: #0000ff;
			font-size: 100px;
			font-family: Helvetica, Arial, Verdana;
}

h1 {

}

h4 {
	color: purple;
}
.shape{
	background: #00ffff
	height: 500px;
	width: 200px;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 70px;
	border-left: 1px solid #000000; 
}
.selfie {
	width: 40px;
	height: 90px; 
}
</body>
</html>